.inputContainer {
    margin-top: 1.5em;
}

.inputContainer p {
    font-weight: bold;
    font-size: 18px;
}

.inputContainer input {
    height: 3em;
    width: 100%;
    border: 3px solid rgba(98, 0, 255, 80%);
    /* border-radius: 5px; */
    padding: 5px;
    margin-top: 0.5em;
}

.inputContainer input:focus {
    border: 3px solid rgba(98, 0, 255, 100%);
    border-radius: 5px;
    outline: none;
}

.inputContainer input:invalid {
    border: 3px solid rgb(255, 0, 0);
}